---
BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 100
---
Language: Cpp
Standard: Latest
UseTab: Never

AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes

BreakBeforeBraces: Attach
IndentCaseLabels: true
AccessModifierOffset: -2
NamespaceIndentation: None

SpaceAfterTemplateKeyword: true
SpaceBeforeParens: ControlStatements
SpacesInAngles: false

IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^".*"'
    Priority:        1
  - Regex:           '^<sys.*'
    Priority:        2
  - Regex:           '^<.*'
    Priority:        3

NamespaceIndentation: None
AccessModifierOffset: -2
