---
BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 100

Language: Cpp
Standard: Latest
UseTab: Never

AlignOperands: true
BreakBeforeBinaryOperators: NonAssignment

AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

BreakStringLiterals: true

AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
AccessModifierOffset: -2

FixNamespaceComments: True

BinPackParameters: false
BinPackArguments: false

BreakBeforeBraces: Attach
IndentCaseLabels: true

MaxEmptyLinesToKeep: 1
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always

IncludeBlocks: Regroup
SortIncludes: CaseInsensitive
IncludeCategories:
  - Regex:           '^<sys.*'
    Priority:        3
  - Regex:           '^<.*'
    Priority:        2
  - Regex:           '.*'
    Priority:        1
